[build-system]
requires = ["setuptools>=61", "wheel"]
build-backend = "setuptools.build_meta"

[project]
name = "tsml"
version = "0.0.1"
description = "A toolkit for time series machine learning algorithms."
authors = [
    {name = "Matthew Middlehurst", email = "m.middlehurst@uea.ac.uk"},
    {name = "Tony Bagnall", email = "ajb@uea.ac.uk"},
]
readme = "README.md"
requires-python = ">=3.8,<3.11"
keywords = [
    "data-science",
    "machine-learning",
    "scikit-learn",
    "time-series",
    "time-series-classification",
    "time-series-regression",
    "time-series-clustering",
]
classifiers = [
    "Intended Audience :: Science/Research",
    "License :: OSI Approved :: BSD License",
    "Topic :: Scientific/Engineering",
    "Operating System :: Microsoft :: Windows",
    "Operating System :: POSIX",
    "Operating System :: Unix",
    "Operating System :: MacOS",
    "Programming Language :: Python",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
]
dependencies = [
    "scikit-learn",
]

[project.optional-dependencies]
dev = [
    "pre-commit",
    "pytest",
    "pytest-randomly",
    "pytest-timeout",
    "pytest-xdist",
    "pytest-cov",
]
docs = [
    "sphinx",
    "sphinx-design",
    "sphinx-gallery",
    "nbsphinx",
    "numpydoc",
    "jupyter",
    "furo",
]

[project.urls]
homepage = "https://www.timeseriesclassification.com/"
repository = "https://github.com/time-series-machine-learning/tsml-py/"

[project.license]
file = "LICENSE"

[tool.setuptools.packages.find]
include = ["tsml"]

[tool.check-manifest]
ignore = [
    "examples/**",
    "docs/**",
    "requirements.txt",
    "*.yaml",
    "*.yml",
    ".coveragerc",
]

[tool.flake8]
max-line-length = 88
extend-ignore = ["E203"]

[tool.pytest.ini_options]
addopts = '''
    --durations 10
    --timeout 600
    --showlocals
    --doctest-modules
    --numprocesses auto
    --cov tsml
    --cov-report xml
'''
